<h1>Bem Vindo DEV:<%= @meu_nome %></h1>
<p> <strong> <%= data_br(Date.today) %></p> </strong>
<p> <%= link_to "Jogadores", jogadors_path %>
<p> <%= link_to "Clubes", clubes_path %>

<p> Você está em ambiente de <strong> <%= ambiente_rails%> </strong>
<p> DEV de <Strong> <%= @linguagem %> </strong>
