<div id="<%= dom_id clube %>">

  <p>
    <%= image_tag clube.url_image, size: "150x150" %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= clube.Nome %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= clube.Sigla %>
  </p>

  <p>
    <strong>Pais:</strong>
    <%= clube.Pais %>
  </p>

  <p>
    <strong>Nivel:</strong>
    <%= clube.nivel %>
  </p>

</div>
